@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar & transitions */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #9333ea, #3b82f6);
  border-radius: 10px;
}
